body {
    /* background-image: url('Assets/save\ the\ date.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-attachment: fixed;
    font-family: 'Georgia', serif;
    background: #e2dad0;
    color: #333;
    margin: 0;
    padding: 0 10vw;
}

h1, h2, h3, #countdown {
    text-align: center;
    margin-top: 1rem;
    color: #5a976e;
    font-size: 1rem;
}


#countdown {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0;
    /*color: #5a976e;*/
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#Heading, ul {
    max-width: 600px;
    margin: 1rem auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(141,90,151,0.08);
    padding: 0.1rem 0rem;
} 

li {
    padding: 0.7rem 0;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;
    justify-self: center;
}

li:last-child {
    border-bottom: none;
}

a {
    color: #5ca380;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #7cc79b;
}

div {
    text-align: center;
    margin: 1rem 0;
    color: #5a976e;
    font-weight: bold;

}

img{
    display: block;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    max-height: 600px;
    max-width: 100%;
    margin: 1rem auto;
    border-radius: 12px;
}   